# Name:Kurra Tarun Naga Vinay Sai
# Reg id:SIRSS1209

# 1

In [3]:
n=int(input("enter a number: "))
for i in range(n):
    print(((str(n)+" ")*(n-i)),end=" ")
    print()

enter a number: 5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

# 2

In [4]:
n=int(input("enter a number: "))
for i in range(n):
    c=0
    for j in range(n+1,i,-1):
        print(c,end=" ")
        c+=1 
        
    print()

enter a number: 5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

# 3

In [5]:
n=int(input("enter a number: "))
c=1
for i in range(1,n+1):
    print(((str(c)+" ")*(i)),end=" ")
    c+=2
    print()

enter a number: 5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

# 4

In [6]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    c=i
    for j in range(i):
        print(c,end=" ")
        c-=1 
        
    print()

enter a number: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# 5

In [7]:
n=int(input("enter a number: "))
c=0
for i in range(1,n+1):
    c+=i
    k=c
    for j in range(i):
        print(k,end=" ")
        k-=1
    print()

enter a number: 5
1
3 2
6 5 4
10 9 8 7
15 14 13 12 11

# 6

In [8]:
n=int(input("enter a number: "))
l=[0]*n
k=[0]*n
l[0]=1
for i in range(1,n):
    for i in range(n):
        k[i]=l[i]
    for j in range(1,i+1):
        l[j]=k[j]+k[j-1]
    for i in l:
        if i!=0:
            print(i,end=" ")
    print()

enter a number: 7
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

# 7

In [9]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    k=i
    for j in range(1,n+1):
        if i>=j:
            pass
        else:
            k+=1 
        print(k,end=" ")
    print()

enter a number: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

# 8

In [10]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    k=i
    for j in range(i):
        print(k,end=" ")
        k+=i
    print()

enter a number: 8
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

# 9

In [11]:
n=int(input("enter a number: "))
for i in range(n):
    for j in range(i):
        print("",end=" ")
    for j in range(n-i):
        print("*",end=" ")
    print()

enter a number: 6
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

# 10

In [12]:
n=int(input("enter a number: "))
for i in range(n):
    for j in range(n-i):
        print("",end=" ")
    for j in range(i):
        print("* ",end=" ")
    print()

enter a number: 7

      *
     *  *
    *  *  *
   *  *  *  *
  *  *  *  *  *
 *  *  *  *  *  *

# 11

In [13]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()
print()
for i in range(n+1,1,-1):
    for j in range(i-1):
        print("*",end=" ")
    print()

enter a number: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

# 12

In [ ]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(n,1,-1):
    for j in range(i-1):
        print("*",end=" ")
    print()

# 13

In [10]:
n=int(input("enter a number: "))
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(n-1,0,-1):
    for j in range(n-i):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    print()

enter a number: 5
        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

# 14

In [11]:
n=int(input("enter a number: "))
for i in range(n):
    for j in range(i):
        print("",end=" ")
    for j in range(n-i):
        print("*",end=" ")
    print()
for i in range(n,0,-1):
    for j in range(i-1):
        print("",end=" ")
    for j in range(n-i+1):
        print("*",end=" ")
    print()

enter a number: 5
* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

# 15

In [13]:
n=int(input("enter a number: "))
print("*" * n, end="\n")
i = (n // 2) - 1
j = 2
while i != 0:
    while j <= (n - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

enter a number: 14
**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*